.card-img-top{
	height: 191px;
	overflow: hidden;
}

.menu{
	width: 20px;
	height: 20px;
	display: flex;
	border-radius: 999px;
	float: right !important;
	cursor: pointer;
}
.menu-icon{	
	margin: auto;
}

.menu:hover{
	background: red;
}

.dropdown-menu a:hover{
	background: #6c757d;
	cursor: pointer;
}
